<header></header>

<chat></chat>

<h1>Ideell</h1>
<p>Idealistic social media</p>

<h2>Presentation</h2>
<p>Let me present it to you.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vOuigmmn4WI" frameborder="0"
	allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
	allowfullscreen></iframe>

<h2>Slides</h2>
<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vSb5_-Irq90VEslTrZXvlPibr8jGTeVbthKUQnapkoe-z-YM_XDNU_EKGs8AuD_FWow7ilM43tzkKMp/embed?start=false&loop=false&delayms=3000"
	frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
	webkitallowfullscreen="true"></iframe>

<h2>Google Form</h2>
<iframe
	src="https://docs.google.com/forms/d/e/1FAIpQLSe3euthm_Al3jbfIsxZKAk4hWCITadt9qdTutSUNGk3xTDMsg/viewform?embedded=true"
	width="640" height="629" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<footer></footer>