<header></header>

<chat></chat>

<div class="start-page-banner">
  <h2 class="title-h2" translate>start-page.banner.h2</h2>
  <h1 class="title-h1" translate><span class="bold">ide</span><span class="underlined">ell</span></h1>
</div>

<div class="standard-panel">
  <p>Reasons to join</p>
  <ul>
    <li>It's free!</li>
    <li>We protect your identity!</li>
    <li>We stand for democracy, science, inclusivness and activism!</li>
    <li>We are a nonprofit organization with members and sponsores</li>
  </ul>
  <div class="CTA-wrapper">
    <button matRipple class="CTA-button">Join us</button>
  </div>
</div>

<div class="standard-panel">
  <p>Our social media</p>
  <ul>
    <li><span class="bold">all</span><span class="underlined">a</span> a private community with all your contacts</li>
    <li><span class="bold">kvitt</span><span class="underlined">er</span> a public community for text microblogging</li>
    <li><span class="bold">kon</span><span class="underlined">st</span> a public comminty for media microblogging</li>
  </ul>
  <p>And you can chat using <span class="underlined"><span class="bold">vi</span></span> between all of them!</p>
  <div class="CTA-wrapper">
    <button matRipple class="CTA-button">Get going</button>
  </div>
</div>

<div class="standard-panel">
  <p>Why?</p>
  <ul>
    <li>Social media hasn't changed i many years</li>
    <li>All popular functions are included in <span class="bold">ide</span><span class="underlined">ell</span></li>
    <li>Without a business model there is no need to sell your identity!</li>
  </ul>
  <div class="CTA-wrapper">
    <a matRipple href='login' class="CTA-button">Sounds perfect</a>
  </div>
</div>

<h2>Slides</h2>
<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vSb5_-Irq90VEslTrZXvlPibr8jGTeVbthKUQnapkoe-z-YM_XDNU_EKGs8AuD_FWow7ilM43tzkKMp/embed?start=false&loop=false&delayms=3000"
	frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
	webkitallowfullscreen="true"></iframe>

<h2>Google Form</h2>
<iframe
	src="https://docs.google.com/forms/d/e/1FAIpQLSe3euthm_Al3jbfIsxZKAk4hWCITadt9qdTutSUNGk3xTDMsg/viewform?embedded=true"
	width="640" height="629" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<footer></footer>