
.title-h2 {
  padding-top: 30vh;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-size: 72px;
}
.title-h1 {
  padding-top: 10vh;
  font-size: 48px;
}

.start-page-banner {
  width: 100%;
  height: 70vh;
  text-align: center;
  background: #fefdec;
}
