
<header></header>
<h1>Add Product</h1>
<p>Everything</p>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div>
		<label for="name">Name</label>
		<input id="name" type="text" formControlName="name">
	</div>

	<div>
		<label for="description">Description</label>
		<input id="description" formControlName="description">
	</div>

	<div>
		<label for="cost">Cost</label>
		<input id="cost" type="number" min="1" max="100" formControlName="cost">
	</div>

	<div>
		<label for="category">Category</label>
		<select id="category" formControlName="category">
			<option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
		</select>
	</div>
	<input type="file" name="image" (change)="onFileChange($event)">
	
	<button class="button" type="submit">Purchase</button>

</form>
<footer></footer>