<header></header>

<h1>
	<mat-icon>search</mat-icon> Search
</h1>
<p>Type to search for an item.</p>
<input type="text" matInput [(ngModel)]="input"><button (click)="doSearch()">
	<mat-icon>search</mat-icon>
</button>

<ol>
	<li *ngFor="let product of rows"><span class="item-image"><img src="{{product.imageUrl}}"></span> {{ product.name }}
		<a href="product?customer={{ product.customer }}&department={{ product.department }}&productId={{ product.productId }}"
			translate>Show</a></li>
</ol>

<footer></footer>