/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1,
h2,
h3,
h4 {
  font-family: 'Poiret One', cursive !important;
  font-weight: 1000 !important;
  background: #fefdec;
  color: #91b867;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

.bold {
  font-weight: 1000;
  font-family: 'Poiret One', cursive !important;
  color: #91b867;
}
.underlined {
  font-weight: 550;
  text-decoration: underline;
  font-family: 'Poiret One', cursive !important;
  color: #91b867;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
.standard-panel {
  box-shadow: 5px 5px 5px 1px gray;
  border-radius: 20px;
  margin: 5vh;
  padding: 10vh;
  font-size: 24px;
  line-height: 1.6;
}
.CTA-wrapper {
  text-align: center;
}
.CTA-button {
  font-size: 32px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  color: #91b867;
  outline: none;
  box-shadow: 2px 2px 2px 1px gray;
  background: #fafafa;
}
.CTA-button:hover {
  background: #f1f1f1;
}
.CTA-button:active {
  background: #f1f1f1;
  box-shadow: 1px 1px 1px 1px gray;
  transform: translateY(4px);
}
button:focus {
  outline:none;
}

.logo {
  max-width: 200px;
  max-height: 200px;
}

.center {
  text-align: center;
}

.select-language {
  cursor: pointer;
}

.item-image {
  max-width: 200px;
  max-height: 200px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}
